<div class="row align-items-center justify-content-center users-new-row">
  <div class="col-4">
    <%= form_for @user, html: { id: 'sign-up-form' } do |f| %>
      <div class="form-row">
        <div class="col-12">
          <label for="account">用户账号：</label>
          <%= f.text_field :account, class: 'form-control', placeholder: '请输入用户账号' %>
        </div>
      </div>
      <div class="form-row">
        <div class="col-12">
          <label for="password">密码:</label>
          <%= f.password_field :password, class: 'form-control', placeholder: '请输入密码' %>
        </div>
      </div>
      <div class="form-row">
        <div class="col-12">
          <label for="password_confirmation">确认密码:</label>
          <%= f.password_field :password_confirmation, class: 'form-control', placeholder: '请输入确认密码' %>
        </div>
      </div>
      <div class="form-row">
        <div class="col-12">
          <label for="email">邮箱:</label>
          <%= f.text_field :email, class: 'form-control', placeholder: '请输入邮箱' %>
        </div>
      </div>
      <div class="form-row">
        <div class="col-12">
          <label for="qq">QQ号:</label>
          <%= f.text_field :qq, class: 'form-control', placeholder: '请输入QQ号' %>
        </div>
      </div>
      <div class="form-row">
        <div class="col-12">
          <label for="mobile">手机号码:</label>
          <%= f.text_field :mobile, class: 'form-control', placeholder: '请输入手机号码' %>
        </div>
      </div>
      <div class="form-row">
        <div class="col-12">
          <label for="mobile">验证码:</label>
          <%= rucaptcha_input_tag(class: 'form-control', placeholder: '请输入验证码') %>
          <%= rucaptcha_image_tag(alt: 'Captcha', class: 'captcha') %>
        </div>
      </div>
      <button class="btn btn-primary btn-block" id="sign_up_form_submit" type="submit">立即注册</button>
    <% end %>
  </div>
</div>
